@import '../../../assets/scss/color';


.wrapper {
    box-shadow: 0 0 20px 0 $color_4;
    border-radius: 10px;
    margin-bottom: 15px;

    .contact-info {
        background:$color_3;
        padding: 1em ;
        padding-top: 35% !important;
        border-left: 2px solid $color_3;
    
        h3{
            padding: 20px 0; 
            color: $font_dark;
    
        }
        ul {
            text-align: center;
            margin: 0 0 1rem 0;
            li {
                list-style: none;
                text-align: center;
                padding: 0;
                line-height: 30px;
                color: $font_dark;
            
            }
        }
        .contact-ul{
            padding-left: 10px;
        }
    }

    .contact {
        background-size: cover;
        padding: 2em ;

        form{
            button, input{
                width: 100%;
                padding: 1em;
                border: none;
                border-bottom: solid $color_3 2px;
            }
            input, textarea{
                background-color: transparent;
                color:$color_3 !important;
                &::placeholder{
                    color:$color_3
                }
            }
            button {
                border: 0;
                text-transform: uppercase;
                cursor: pointer;
                color: $font_dark;
                font-weight: 700;
                letter-spacing: 2px;
                background-color: $color_3;
                &:hover{
                    background-color: $color_4;
                    color: $font_light;

                }
            }
            button:hover,
            button:focus,
            button:hover,
            input:hover,
            button:focus,
            input:focus,
            textarea:hover,
            textarea:focus{
                outline: none
            }
            p {
                margin: 0;
                padding-top: 10px;
            }
            .full {
                grid-column: 1 / 3;
            }
            textarea {
                width: 100%;
                height: 50px;
                resize: none;
                background-color: transparent;
                padding: 10px;
                font-size: 18px;
                border: none;
                border-bottom: 2px $color_3 solid;
            }
            label {
                display: block;
            }
        }
    }
    

    .medea-info{
        .fa{
            color: $font_dark;
            font-size: 23px;
            &:hover{
                color: $font_light;
                transition: all ease .5s;
                
            }
        }
        a{
            margin:5px;
        }
    } 
}
    
@media(min-width:768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .contact {
        padding: 2em ;
    }

}

@media(max-width:768px) {
    .wrapper > * {
        padding: 2em;
    }

    
.contact-info {
    background: $color_2;
    color: $font_light;
    padding: 2em !important;
}

}

