// start extended
%ovarlayStyle{
    --webkit--transition: all ease-in-out .5s;
    --moz--transition: all ease-in-out .5s;
    --o--transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    position: absolute;
    opacity: .5;
    z-index: +5;
    width: 0%;
    height: 0%;
}
 %img_border{
    border: 2px solid $color_4;
}

/// end sid bar
%fontStyle{
    position: absolute;
    font-weight: 900;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    --webkit--transition: all ease-in-out .5s;
    --moz--transition: all ease-in-out .5s;
    --o--transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    z-index: +5;
    color: $font_dark;
    padding-left: 20px;
}
// end extended

%inputFild{
    background-color: transparent;
    color: $font_dark;
    border: 1px solid $color_4;
    border-radius: 0 !important;
    &:focus{
        background-color: transparent !important;
    }
}
%inputSelect{
    @extend %inputFild;

        option{
            background-color: $color_1 !important;
            color: $font_dark;
        }
}

%clothesStyle{
    .btn_view{
        @extend %fontStyle;
        background-color: transparent;
        border: 2px solid $font_light;
        padding: 5px 10px;
        color: $font_light;
        font-weight: bold;
        position: absolute;
        opacity: 0;
        top: 50%;
        transform: translateX(50%) translateY(-50%);
        right: 50%;
        font-size: 20px;
        z-index: +9;
        cursor: pointer;
        min-width: 120px;
    }
    .overlay{
        @extend %ovarlayStyle;     
        width: 0%;
        height: 100%;   
        bottom: 0px;
        left: 0px;
        background-color: $color_1;
    }
    .card{
        background-color: transparent;
        border-color: $color_1;
        border-radius: 0;
        overflow: hidden;
        &:hover .overlay{
            width: 100%;
        }
        &:hover .btn_view{
            opacity: 1;
            top: 50%;
        }
    }

}
%a_link{
    color: $font_light;
    &:hover{
        color: $font_dark;
        text-decoration: none;
    }
}
%input_style{
    input{
        background-color: transparent;
        border: 2px solid $color_4;
        color: $font_light;
    }
    input::placeholder{
        color: $font_light;
    }
}
%input_btn{
    background-color: transparent;
    border: $color_1 solid 1px;
    color: $color_4;
    border-radius: 0px;
    padding: 5px 10px !important;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    &:hover {

        &::before{
            width: 100%;
            height: 100%;
        }
    }
    &::before{
        content: '';
        background-color: rgba($color_3, .5);
        width: 0%;
        height: 0%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        position: absolute;
        transition: all ease-in-out .3s;

    }
}