<footer class="">
    <div class="newcontainer">
        <hr>
        <div class="row">
          <div class="col-md-6 col-12 text-center text-md-left pl-5 pr-5">
              Copy Right <strong>&copy;</strong>  2018
          </div>
          <div class="col-md-6 col-12 text-md-right text-center pr-5 pl-5">
            <a href="http://">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="http://">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="http://">
              <i class="fa fa-github"></i>
            </a>
            <a href="http://">
              <i  class="fa fa-google-plus"></i>
            </a>
        </div>
        </div>
    </div>
  </footer>
