@import "../../../../assets/scss/color";
@import "../../../../assets/scss/imports";
.row{
  @extend %input_style;
  label{
      font-weight: bold;
      font-size: 18px;
  }
  form{
    padding: 25px;
    box-shadow: 0 0 10px $color_4;
    border-radius: 5px;

   input{
        width: 100%;
        padding: 1em;
        border: none;
        border-bottom: solid $color_3 2px;
        background-color: transparent;
        color:$color_4 !important;
        border-radius: 0;

        &::placeholder{
            color:$color_3;
            transition: all ease .3s;

        }
        &:focus{
          outline: none !important;
          box-shadow: 0 0 0;
          &::placeholder{
            transform: scale(.8)
        }
      }
    }
    button {
        text-transform: capitalize;
        cursor: pointer;
        color: $font_dark;
        font-weight: 700;
        letter-spacing: 2px;
        background-color: $color_3;
        &:hover{
            background-color: $color_4;
            color: $font_light;


        }

    }
}

}
.animate{
    animation: animate ease .9s;
}
@keyframes animate{
        from {
          transform: scale3d(1, 1, 1);
        }
      
        10%, 20% {
          transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        }
      
        30%, 50%, 70%, 90% {
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }
      
        40%, 60%, 80% {
          transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }
      
        to {
          transform: scale3d(1, 1, 1);
        }
      }

