@import "../../../../assets/scss/color";
@import "../../../../assets/scss/imports";

%editAndRemoveIcon{
    position: relative;
    bottom: 0px;
    z-index: +1;
    font-size: 20px;
    opacity: .6;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}

.row{
    .btn{
        background-color: $font_dark;
        color: $color_2;
        &:active, &:focus{
            background-color: $font_light;
        }
    }
    .fa-edit{
        @extend %editAndRemoveIcon;
        color: $color_1;
        left: 15px !important;

    }
    .fa-remove{
        @extend %editAndRemoveIcon;
        color: $color_3;
        right: 15px;
    
    }
    .card{
        border: none;
        border-radius: 3px;
    }
}
.displayNone{
    transition: all ease .2s;
    animation: hide ease .2s forwards;
}

@keyframes hide{
    0%{
        opacity: 1;
        display: block;
        width: 100%;
    }
    100%{
        opacity: 0;
        display: none !important;
        width: 0;
    }
}
.overlay{
    @extend %editOverlay;
}

select{
    @extend %inputSelect
}
#images{
    background-color: $color_4;
    color: $font_light;
    opacity: 0;
    width: 100%;
}
.image_span{
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    position: absolute;
    background-color: $color_4;
    color: $font_light;
}

.displayOverlay{
@extend %displayOverlay;
}
@media(max-width:1200px){
    .overlay{
        width: 100% !important;
    }
}