@import "../../../assets/scss/color";
@import "../../../assets/scss/imports";

select, button{
    border: 1px solid $color_1 !important;
}
.row{
    .sold{
        width: 100%;
        height: 100%;
        background-color: rgba($color_4, $alpha: .5);
        text-align: center;
        z-index: 11;
        h4{
            top: 50%;
            transform: translateY(-50%);
        }


    }
    .btn{
        @extend %input_btn;
       padding: 8px 10px !important;
       border: 1px solid $color_4;
       width: 100%;
    }
    .form-control{
        color: $color_2 !important;
        @extend %inputSelect;
    }

    @extend %clothesStyle;
    .card{
        border: none;
        border-radius: 3px;
    }
    .ngx-pagination a{
        color: $font_light !important;
    }
    .btn_view{
        background-color: rgba($color_4,.3) !important;
    }



}
.my-pagination /deep/ .ngx-pagination {

    text-align: center;
    padding: 20px 0;
    .current, a{
        font-weight: bold;
    }
    .current{
        font-weight: 900;
        background-color: $color_4;
        color: $color_1;
    }
  }
// start media
@media(max-width:778px){
    .top2, .md, .down2{
        display: none;
    }
    .btn_view{
        opacity: 1 !important;
        background-color: rgba($color_4,.5) !important;
    }
} // end media
