@import "../../../../assets/scss/color";
@import "../../../../assets/scss/imports";
input{
    color: $color_4 !important;
}
.table{
    td th{
        border-color: $color_1;

    }
    .btn{
        @extend %input_btn;
    }
}
@media(max-width:578px){
    .item_image{
        display: none;
    }
    .btn{
        &::before{
            background-color:transparent !important;
        }
    }
}
.overlay{
    overflow: auto;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba($color_2,.8);
    left: 0;
    top: 0;
    z-index: +10000;
    padding:20px;
    .row{
        @extend %input_style;
        label{
            font-weight: bold;
            font-size: 18px;
        }
        form{
          padding: 25px;
          box-shadow: 0 0 10px $color_4;
          border-radius: 5px;
      
         input{
              width: 100%;
              padding: 1em;
              border: none;
              border-bottom: solid $color_3 2px;
              background-color: transparent;
              color:$color_4 !important;
              border-radius: 0;
      
              &::placeholder{
                  color:$color_3;
                  transition: all ease .3s;
      
              }
              &:focus{
                outline: none !important;
                box-shadow: 0 0 0;
                &::placeholder{
                  transform: scale(.8)
              }
            }
          }
          button {
              text-transform: capitalize;
              cursor: pointer;
              color: $font_dark;
              font-weight: 700;
              letter-spacing: 2px;
              background-color: $color_3;
              &:hover{
                  background-color: $color_4;
                  color: $font_light;
      
              }
          }
      }
      
      }
      
}
.display{
    display: block;
}