@import "../../../../assets/scss/color";
@import "../../../../assets/scss/imports";
.active{
    color: $font_light !important;
    font-weight: 900 !important;
}
    .navbar{
        .navbar-brand{
            font-size: 30px;
        }
        z-index: +5;
        overflow: auto;
        background-color: $color_2 !important;
        a{
            color: $font_dark;
            font-size: 18px;
            font-weight: 600;

        }
    }
    .vh{
        height: 100vh;
        position: fixed;
        width: 25%;
        left: 0;
        z-index: +5;
        ul{
            position: relative;
            top: 40%;
            transform: translateY(-50%);
            li{

            }
        }
    }