<nav class="navbar  d-xl-none navbar-expand-md navbar-light bg-light ">
  <div class="container">
      <a class="navbar-brand"  [routerLink]="[ '/home' ]" >Shoes Shop</a>
  <button class="navbar-toggler hidden-lg-up" (click)="to()">
    <span class="fa fa-home "></span>
  </button>
  <div class="collapse navbar-collapse" id="small-nav">
    <ul class="navbar-nav text-center ml-auto mt-2 mt-lg-0 ">
        <li class="nav-item" *ngIf="_admin.AdminLoggedIn">
            <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/admin' ]"  routerLinkActive="active" >admin</a>
          </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/home' ]"  routerLinkActive="active" >home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/contact' ]" routerLinkActive="active" >contact</a>
      </li>
      <li class="nav-item" *ngIf="!_auth.loggedIn()">
        <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/login' ]" routerLinkActive="active" >login</a>
      </li>
      <li class="nav-item" *ngIf="!_auth.loggedIn()">
        <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/register' ]" routerLinkActive="active" >register</a>
      </li>
      <li class="nav-item" *ngIf="_auth.loggedIn()">
          <a class="nav-link" (click)="to()" [routerLink]="['/profile']" routerLinkActive="active" >profile</a>
      </li>
      <li *ngIf="_auth.loggedIn()">
          <a class="nav-link" (click)="to()" [routerLink]="['/login']" (click)='onLogoutClick()' routerLinkActive="active" >logout</a>
      </li>
      <li class="nav-item" *ngIf="qut">
        <a class="nav-link" (click)="to()" [routerLink]="['/cart']" routerLinkActive="active"> 
          <i class="fa fa-shopping-basket"></i>
          <span>{{qut}}</span>
        </a>
      </li>
    </ul>
  </div>

</div>
</nav>


<nav class="navbar d-none d-xl-block text-center   vh">
  <a class="navbar-brand text-center mt-3" [routerLink]="[ '/home' ]" >Shoes Shop</a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item" *ngIf="_admin.AdminLoggedIn">
      <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/admin' ]"  routerLinkActive="active" >admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/home' ]"  routerLinkActive="active" >home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/contact' ]" routerLinkActive="active" >contact</a>
    </li>
    <li class="nav-item" *ngIf="!_auth.loggedIn()">
      <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/login' ]" routerLinkActive="active" >login</a>
    </li>
    <li class="nav-item" *ngIf="!_auth.loggedIn()">
      <a class="nav-link text-capitalize" (click)="to()" [routerLink]="[ '/register' ]" routerLinkActive="active" >register</a>
    </li>
    <li class="nav-item" *ngIf="_auth.loggedIn()">
        <a class="nav-link" (click)="to()" [routerLink]="['/profile']" routerLinkActive="active" >profile</a>
    </li>
    <li *ngIf="_auth.loggedIn()">
        <a class="nav-link" (click)="to()" [routerLink]="['/login']" (click)='onLogoutClick()' routerLinkActive="active" >logout</a>
    </li>
    <li class="nav-item" *ngIf="qut">
      <a class="nav-link" (click)="to()" [routerLink]="['/cart']" routerLinkActive="active"> 
        <i class="fa fa-shopping-basket"></i>
        <span>{{qut}}</span>
      </a>
    </li>
  </ul>
</nav>


