<div class="login-box">
  <div class="lb-header">
    <a href="#" class="active" id="login-box-link">signup</a>
  </div>
<form class="email-signup">
  <div class="u-form-group">
    <input type="email" placeholder="Email"/>
  </div>
  <div class="u-form-group">
    <input type="password" placeholder="Password"/>
  </div>
  <div class="u-form-group">
    <input type="password" placeholder="Confirm Password"/>
  </div>
  <div class="u-form-group">
    <button>Sign Up</button>
  </div>
</form>
</div>