@import "../../../../assets/scss/color";
@import "../../../../assets/scss/imports";

.imagestyle{
  width: 100px;
  height: 100px;
  img{
   width: 100px;
   height: 100px;

   border-radius: 50%;
  }

}
.row{
  @extend %input_style;
  .text-muted{
      color: $font_light !important;
  }
  label{
      font-weight: bold;
      font-size: 18px;
  }
}
#user_image{
  opacity: 0;
  width: 100px;
}
.image_span{
  width: 100px;
  height: 100%;
  z-index: -1;
  display: block;
  position: absolute;
  background-color: $color_3;
  color: $color_2;
  padding-top: 3px;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);

}