@import "../../../assets/scss/color";
@import "../../../assets/scss/imports";

.card{
    overflow: hidden;
    border: none;
}

select{
    border: 1px solid $color_1 !important;
}
.sizes span{
    padding: 5px;
    border: solid $color_1 1px;
    color: $color_4 !important;
    font-weight: bold;
    margin-right: 10px;
}
ul{
    list-style: none;
    li{
        display: inline;
        margin: 5px;
        font-weight: bold;
    }
    
}
.btn{
    @extend %input_btn;
}

.form-control{
    @extend %inputSelect;
}

// globale media
@media(max-width:778px){
    .btn{
        &::before{
            width: 0 !important;
            height: 0 !important;
        }
        background-color: rgba($color_4,.5) !important;
    }
}

button{
    color: $color_4 !important;
}