@import "../../../../assets/scss/color";
@import "../../../../assets/scss/imports";

.imagestyle{
  width: 150px;
  height: 150px;
  position: relative;
  top: 75px;
  
  img{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   box-shadow: 0px 0px 10px $color_4;
  }

}
.row{
  @extend %input_style;
    label{
        font-weight: bold;
        font-size: 18px;
        color: $font_dark;
    }
    form{   
     @extend %form;
    }
}
  
#user_image{
  opacity: 0;
  position: relative;
  top: -100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;

}
.image_span{
  width: 150px;
  height: 150px;;
  border-radius: 50%;
  z-index: -1;
  display: block;
  position: absolute;
  background-color: $color_3;
  color: $color_2;
  padding-top: 3px;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);
  top: -100px;

}