@import "../../../assets/scss/color";
@import "../../../assets/scss/imports";
input{
    color: $font_dark !important;
}
.pyment .fa{
/* border: 1px solid #000; */
padding:2px 5px;
color: $font_dark;
/* border-radius: 3px; */
}
.camera{
    padding-top: 38px;
    .fa-camera{
        right:  20px;
    }
}

h1, h2, h3, h4, h5, h6, label{
text-transform: capitalize;
}
input{
text-align: center;
}
input:focus{
box-shadow: 0px 0px 5px 3px $font_light !important;
}
input::placeholder{
    color: $font_dark;
    }
.btn{
    @extend %input_btn;
    width: 100%;
}