@import "../../../../assets/scss/color";
@import "../../../../assets/scss/imports";

.row{
    .btn{
        background-color: $font_dark;
        color: $color_2;
        &:active, &:focus{
            background-color: $font_light;
        }
    }
    .fa-edit{
        position: relative;
        bottom: -20px;
        font-size: 20px;
        opacity: .6;
        cursor: pointer;
        color: $color_1;
        left: 15px !important;
        &:hover{
            opacity: 1;
        }
    }
    .fa-remove{
        color: $color_3;
        position: relative;
        right: 15px;
        bottom: -20px;
        font-size: 20px;
        opacity: .6;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
    .card{
        border: none;
        border-radius: 3px;
    }
}
.displayNone{
    transition: all ease .2s;
    animation: hide ease .2s forwards;
}

@keyframes hide{
    0%{
        opacity: 1;
        display: block;
        width: 100%;
    }
    100%{
        opacity: 0;
        display: none !important;
        width: 0;
    }
}
.overlay{
    overflow: auto;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba($color_2,.8);
    left: 0;
    top: 0;
    z-index: +10000;
    padding:20px;
    .row{
        @extend %input_style;
        label{
            font-weight: bold;
            font-size: 18px;
        }
        form{
          padding: 25px;
          box-shadow: 0 0 10px $color_4;
          border-radius: 5px;
      
         input{
              width: 100%;
              padding: 1em;
              border: none;
              border-bottom: solid $color_3 2px;
              background-color: transparent;
              color:$color_4 !important;
              border-radius: 0;
      
              &::placeholder{
                  color:$color_3;
                  transition: all ease .3s;
      
              }
              &:focus{
                outline: none !important;
                box-shadow: 0 0 0;
                &::placeholder{
                  transform: scale(.8)
              }
            }
          }
          button {
              text-transform: capitalize;
              cursor: pointer;
              color: $font_dark;
              font-weight: 700;
              letter-spacing: 2px;
              background-color: $color_3;
              &:hover{
                  background-color: $color_4;
                  color: $font_light;
      
              }
          }
      }
      
      }
      
}
select{
    @extend %inputSelect
}
#images{
    background-color: $color_4;
    color: $font_light;
    opacity: 0;
    width: 100%;
}
.image_span{
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    position: absolute;
    background-color: $color_4;
    color: $font_light;
}

.display{
    display: block;
}